{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}

    <title>Course Detail - NittanyPath System</title>
    
{% endblock %}

{% block bodycontent %}

<section class="jumbotron text-center">
  <div class="container-12">
    <h1 class="jumbotron-heading" style="margin-top: 1em">Course Details of <i>{{ object.subject }} {{ object.course_number }}</i>:</h1>
    <p class="lead text-muted">This page shows all section offerings affiliated with this course.</p>
    <p class="text-left"><b>Course Name: </b>{{ object.course_name }}</p>
    <p class="text-left"><b>Course Credit: </b>{{ object.credit }}</p>

    <p class="text-left"><b>Available Sections:</b>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Section Number</th>
          <th scope="col">Capacity Limit</th>
          <th scope="col">Instructor</th>
        </tr>
      </thead>
      <tbody>
        {% for section in sections %}
        <tr>
          <td>{{ section.section_num }}</td>
          <td>{{ section.capacity_limit }}</td>
          <td><a href="{% url 'view-faculty-detail' section.teaching_team_id.faculty %}">{{ section.teaching_team_id.faculty.legal_name }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock %}