{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block pagetitle %}

    <title>Reply to a Post - NittanyPath System</title>
    
{% endblock %}

{% block bodycontent %}
  <div class="col-6">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Create a Reply</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Submit</button>
      </div>
    </form>
  </div>

{% endblock %}